<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Recuperar Senha
    </ion-title>
    <ion-grid>
      <ion-row>
        <ion-col>            
        </ion-col>      
        <ion-fab-button routerLink="/login">
          <ion-icon name="chevron-back-circle-outline"></ion-icon>
        </ion-fab-button>  
        <ion-col>            
        </ion-col>
      </ion-row>        
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="font-size: 20px;" class="ion-text-center">
    <b>Digete o email</b>
  </h1>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>            
      </ion-col>      
        <div class="form">
          <ion-item>
            <ion-label position="floating"><b>Email</b></ion-label>
            <ion-input type="text" #email required=""></ion-input>
          </ion-item>          
        </div><br>
      <ion-col>            
      </ion-col>
    </ion-row>        
  </ion-grid>
<ion-grid class="ion-text-center">
  <ion-row>
    <ion-col>            
    </ion-col>
    <ion-col>
      <ion-button (click)="resetPassword(email)" style="--background: #1F26C7;">Enviar</ion-button>
    </ion-col>          
    <ion-col>            
    </ion-col>
  </ion-row>        
</ion-grid>
</ion-content>
