ion-content{
    --background: #4BDAFA;
    .item{
        height: 33px;
        width: 90vw;
        border-radius: 25px;
        background-color: #fff;
        ion-label{
            font-size: 11px;
            margin-top: -6px;
            color: rgb(173, 170, 170);
        }
    }
    h1{
        color: #fff;
        margin-top: 90px;
        font-size: 20px;
    }
}
a{
    font-size: 18px;
    color: #1F26C7;
}
ion-icon{
    margin-top: 0%; 
    font-size: 4em;
    color: rgb(142, 224, 249);
}
ion-button{
    width: 290px;
    height: 45px;
    font-size: 18px;
    font-style: normal;
    --border-radius: 30px;        
    color: #fff;
}
ion-toolbar{
    --background: #40488E;
    height: 130px;
    margin: 1px;    
}
ion-title{
    color: #fff ;
    font-size: 25px; 
    margin-top: 20px;
}
ion-fab-button{
    --background: #40488E;
    margin-top: 5px; 
    height: 50px;
    width: 50px;
}