<ion-content [fullscreen]="true">  
  <ion-card style="margin: -20px;">    
    <ion-card-content style="height: 250px; margin: 1px; background: #40488E;">      
      <ion-card-subtitle class="ion-text-center"><b>Seja bem vindo ao App</b></ion-card-subtitle>
      <ion-card-title class="ion-text-center"><b>TecAuton</b></ion-card-title>
      <h1 class="ion-text-center"><b>App para gestão de ordem<br>de serviço para técnicos<br>autônomos de celulares.</b></h1>      
    </ion-card-content>
  </ion-card> 
<ion-toolbar style="--background: url('/assets/img/tec1.png') no-repeat center/cover fixed; height: 8em;">
  <h1 style="margin-top: 4px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin-left: 40px; color: #030194;"><b>
    Cadastro =><br>
    Usuário;<br>
    cliente;<br>
    O.S e;<br>
    Movimento de Caixa.</b>
  </h1>
</ion-toolbar>
  <h1 style="font-size: 20px;" class="ion-text-center"><b>Faça o login ou cadastre-se<br>para entrar</b></h1><br>      
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>            
      </ion-col>
        <ion-col>
          <ion-button routerLink="/login" style="--background: #21AFFF;">Login</ion-button>
          <ion-button routerLink="/register-user" style="margin-top: 20px; --background: #1F26C7;">Cadastro</ion-button>
        </ion-col>          
      <ion-col>            
      </ion-col>
    </ion-row>        
  </ion-grid> 
</ion-content>

            