<ion-toolbar>
  <ion-title class="ion-text-center">
    Sobre o TecAuton
  </ion-title>
  <ion-grid>
    <ion-row>
      <ion-col>            
        </ion-col>      
          <ion-fab-button routerLink="/home">
            <ion-icon style="font-size: 3em; margin-top: 0%;" name="home-outline"></ion-icon>
          </ion-fab-button>   
        <ion-col>            
      </ion-col>
    </ion-row>        
  </ion-grid>
</ion-toolbar>

<ion-content>
  <h1><b>Plataforma para técnicos de<br>celulares autônomos.</b></h1>
  <p style="margin-top: 5px; text-align: center;"><b>
    Este app foi criado para o auxílio<br>
    de técnicos, que necessitam manter<br>
    controle de suas demandas de serviços.</b></p>
  <h2><b>Cadastro de usuário:</b></h2>
  <p><b>Cadastrar usuário para ter acesso a<br>
    plataforma.</b></p>
  <h2><b>Cadastro de cliente:</b></h2>
  <p><b>Cadastrar os dados do cliente para<br>
    controle das Ordens de Serviços.</b></p>
  <h2><b>Cadastro de OS:</b></h2>
  <p><b>Cadastrar os dados dos aparelhos, para<br>
    gerar as Ordens de Serviços.</b></p>
  <h2><b>Fluxo de Caixa:</b></h2>
  <p><b>Registrar saída de caixa, gerar relatório<br>
    de serviços, relatório de saída de caixa<br>
    e impressão de recibo.</b></p>
</ion-content>